<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add love songs - Pobrefy, aqui você é pobre e feliz</h1>
	<form action="/add" method="post"
		enctype="multipart/form-data">
		<input name="title" placeholder="título da música">
		<input name="author" placeholder="autor da música">
		<input type="file" name="music">
		<button>Add</button>
	</form>
</body>
</html>