<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Cadastre-se - Pobrefy, aqui você é pobre e feliz</h1>
	<form action="/cadastrar" method="post">
		<input name="firstName" placeholder="primeiro nome">
		<input name="lastName" placeholder="último nome">
		<input name="email" placeholder="email">
		<input name="password" placeholder="senha" type="password">
		<button>Cadastre-se</button>
	</form>
</body>
</html>