<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Login - Pobrefy, aqui você é pobre e feliz</h1>
	<form action="/login" method="post">
		<input name="email" placeholder="email">
		<input name="password" placeholder="senha" type="password">
		<button>Entrar</button>
	</form>
</body>
</html>